h1 {
    font-size: 8vw;
    font-family: "Helvetica", "Arial", sans-serif;
    color: darkblue;
    max-width: 94%;
}
h3,.header {
    font-size: 6vw;
    font-family: "Helvetica", "Arial", sans-serif;
    color: darkblue;
    max-width: 94%;
}
.header {
    color: lavender;
}
p {
    font-size: 4vw;
    font-family: "Courier", serif;
    font-weight: bold;
}
#brand {
    height: 8vw;
    width: 8vw;
}

.feedback {
    font-family: "Verdana", "Times", serif;
}
.phold {
    max-width: 90%;
    margin: 0 auto;
}
.ppad {
    max-width: 5%;
    background-color: lavender;
}
.body {
    min-height: 90vh;
    padding: 5px;
    background-color: lavender;
    max-width: 100%;
    margin: 0 auto;
}
.sidepad {
    max-width: 0%;
    background-color: darkgray;
}
.review {
    border: 3px solid Indigo;
    margin: 2px;
}
.bodysplit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bodyimg {
    width: 100%;
    height: 100%;
}
#title {
    background-color: black;
    color: lavender;
    text-align: center;
}
html {
  box-sizing: border-box;
  background-color: darkgray;
}
body {
  background-color: darkgray;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.masonry-wrapper {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}
.masonry {
  columns: 1;
  column-gap: 10px;
}
.masonry-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}
.footer {
    background-color: Lavender;
    border: none;
    color: darkgreen;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
    position: sticky;
    bottom: 0px;
}
@media only screen and (max-width: 1023px) and (min-width: 600px) {  .masonry {
    columns: 2;
  }
  h1 {
      font-size: 5vw;
  }
  h3,.header {
      font-size: 4vw;
  }
  #brand {
      height:6vw;
      width:6vw;
  }
  p {
      font-size: 2.5vw;
  }
  .bodysplit {
      flex-wrap: nowrap;
  }
  .bodyimg {
      display: flex;
      width: 90%;
      height: 90%;
  }
  .bodytxt {
      display: flex;
      width: 90%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .masonry {
    columns: 3;
  }
  h1 {
      font-size: 28px;
  }
  h3,.header {
      font-size: 23px;
  }
  #brand {
      height: 26px;
      width: 26px;
  }
  p {
      font-size: 19px;
  }
  .body {
      max-width: 75%;
  }
  .sidepad {
      max-width: 12.5%;
  }
  #title {
      max-width: 30%;
  }
  .bodysplit {
      flex-wrap: nowrap;
  }
  .bodyimg {
      display: flex;
      width: 90%;
      height: 90%;
  }
  .bodytxt {
      display: flex;
      width: 90%;
  }
}
@media only screen and (min-width: 1601px)  {
  .masonry {
    columns: 4;
  }
  h1 {
      font-size: 38px;
  }
  h3,.header {
      font-size: 33px;
  }
  #brand {
      height: 36px;
      width: 36px;
  }
  p {
      font-size: 29px;
  }
  .body {
      max-width: 75%;
  }
  .sidepad {
      max-width: 12.5%;
  }
  #title {
      max-width: 30%;
  }
  .bodysplit {
      flex-wrap: nowrap;
  }
  .bodyimg {
      display: flex;
      width: 90%;
      height: 90%;
  }
  .bodytxt {
      display: flex;
      width: 90%;
  }
}
